{% extends "base.html" %}

{% block title %}Delete Confirmation{% endblock %}

{% block hero %}
{% include "hero.html" %}
{% endblock %}

{% block body %}
<hr>
  <h2>Confirm Deletion</h2>
  <p>Are you sure you want to delete <strong>{{ object.name }}</strong>?</p>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'retrieve-view' %}" class="btn btn-secondary">Cancel</a> 
  </form>
</br>
</br>
</br>
</br>
<hr>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
